---
layout: default
---

<div class="home">
  {% if site.categories.educake %}
    <div class="card-panel diario cyan white-text">Educake</div>
    <div class="row">
      {% for post in site.categories.educake %}
        {%
          include card-generator.html
            title=post.title
            image=post.image
            date=post.date
            url=post.url
            resume=post.resume
        %}
      {% endfor %}
    </div>
  {% endif %}

  {% if site.categories.diario %}
    <div class="card-panel diario cyan white-text">Diário de Bordo</div>
    <div class="row">
      {% for post in site.categories.diario %}
        {%
          include card-generator.html
            title=post.title
            image=post.image
            date=post.date
            url=post.url
            resume=post.resume
        %}
      {% endfor %}
    </div>
  {% endif %}
</div>

<div class="card-panel rss-subscribe cyan white-text">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></div>
